/* Estilos para la sección superior fija */
.fixed-top-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 20px;
    box-shadow: 0 4px 2px -2px transparent;

    background-color: rgba(0, 42, 255, 0.792); /* Fondo azul con opacidad */
    backdrop-filter: blur(10px); /* Efecto borroso */
    -webkit-backdrop-filter: blur(10px); /* Compatibilidad con Safari */
}

.infoFooter{
    background-color: rgb(0, 24, 45); /* Fondo azul con opacidad */
}


.fixed-top-bar img {
    content: url("/static/images/Handtalker-logo.png");

}

@media (max-width: 1000px){
    .list-inline-item {
        font-size: 15px;
    }
}

@media (max-width: 800px){
    .list-inline-item {
        font-size: 13px;
    }
}

@media (max-width: 768px) {
    .fixed-top-bar img {
        content: url("/static/images/Handtalker-logo.png");
        height: 20px;
    }
    /* Ajustar el padding para que el contenido no se solape */
    .fixed-top-bar {
        padding: 15px 0px;
    }

    #BotonP{
        display: none;
    }

    /* Ajustar la fuente de los textos de listaA */
    .list-inline-item {
        font-size: 11.5px;
    }
}

@media (max-width: 470px) {
    .fixed-top-bar img {
        content: url("/static/images/Handtalker-logo-3.png");
        height: 25px;
    }

    /* Ajustar el padding para que el contenido no se solape */
    .fixed-top-bar {
        padding: 15px;
    }

    #BotonP{
        display: none;
    }

    /* Ajustar la fuente de los textos de listaA */
    .list-inline-item {
        font-size: 15px;
    }

}

@media (max-width: 393px){
    .list-inline-item {
        font-size: 11px;
    }
}



/* Sección del Video */
.video-section {
    text-align: center;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000; /* Color de fondo del contenedor del video */
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Estilos para la sección "¿Quiénes somos?" */
.container h2 {
    font-weight: bold;
}

.container h4 {
    margin-bottom: 15px;
}

.container p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.who-we-are h2 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.who-we-are p {
    font-size: 1rem;
    line-height: 1.6;
    text-align: justify; /* Justifica el texto */
}

/* Ajustes para pantallas grandes */
@media (min-width: 992px) {
    .who-we-are .row {
        margin-bottom: 4rem;
    }
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
    .who-we-are .col-lg-6 {
        margin-bottom: 2rem;
    }
}


/* Ajustes específicos para pantallas más grandes */
@media (min-width: 992px) {
    .video-container {
        padding-bottom: 45%; /* Hacer el video un poco más grande en pantallas grandes */
    }
}

.list-inline-item {
    margin: 10px;
}

.downloadButton {
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    border-radius: 5px;
    border: 1px solid white;

}



@keyframes slideInDown {
    from {
        opacity: 0;
        transform: translateY(-20%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Estilos para el contenido desplazable */
.scrollable-content {
    margin-top: 0px;
    padding: 20px;
    max-height: calc(100vh - 120px);
    overflow-y: auto;

    opacity: 0;
    animation: slideInDown 2s ease-out forwards;
}

/* Estilo de ejemplo para personalizar más la página */
body {
    background-color: transparent;
    color: #333;
}

/* Estilos para el Footer */
.footer {
    background-color: rgb(0, 24, 45); /* Mismo fondo que el resto de la página */
}

.footer .social-icons a {
    color: white;
    transition: color 0.3s ease;
}

.footer .social-icons a:hover {
    color: #006aff; /* Cambia el color al pasar el mouse */
}

.footer p {
    margin-bottom: 0;
    font-size: 14px;
}

html {
    scroll-behavior: smooth;
}

.section-divider {
    border: 0; /* Elimina el borde predeterminado */
    height: 1px; /* Altura de la línea */
    background-color: #9e9d9d; /* Color de la línea (puedes cambiarlo según tus preferencias) */
    margin: 40px 70px; /* Espaciado vertical alrededor de la línea */
}
